parameters:
#    level: max
    level: 4
    paths:
        - src/
    ignoreErrors:
        # Symfony __get()
        - '#^Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message\.$#'
