name: tests

on:
  push:
  pull_request:

jobs:
  linux_tests:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        php: ['7.4', '8.0']
        stability: ['prefer-lowest', 'prefer-stable']

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, gd
          tools: composer:v2
          coverage: none

      - name: Check for syntax errors in PHP files
        run: find ./ -type f -name '*.php' -print0 | xargs -0 -L1 -P4 -- php -l

      - name: Check composer files
        run:  composer validate --strict

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-progress

      - name: Execute tests
        run: vendor/bin/phpunit --verbose

      - name: Check coding standard
        run: vendor/bin/php-cs-fixer --no-interaction --dry-run --diff -v fix src/

      - name: Static analysis
        run: vendor/bin/phpstan analyse